# Unfortunately best way is to run it as a system service
# https://unix.stackexchange.com/questions/149959/how-to-run-systemd-user-service-to-trigger-on-sleep-aka-suspend-hibernate

[Unit]
Description=Lock X session
Before=sleep.target

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/physlock -ds
Restart=on-failure

[Install]
WantedBy=sleep.target
