[submodule "config/awesome/freedesktop"]
	path = .config/somewm/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "config/awesome/modalawesome"]
	path = .config/somewm/modalawesome
	url = https://github.com/potamides/modalawesome
[submodule "config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/qutebrowser/userscripts/source/yomichad"]
	path = .config/qutebrowser/userscripts/source/yomichad
	url = https://github.com/potamides/yomichad.git
[submodule ".config/qutebrowser/userscripts/source/zotero"]
	path = .config/qutebrowser/userscripts/source/zotero
	url = https://github.com/parchd-1/qutebrowser-zotero
