[submodule "config/awesome/freedesktop"]
	path = config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "config/awesome/vimawesome"]
	path = config/awesome/vimawesome
	url = git@github.com:DrCracket/vimawesome.git
[submodule "config/awesome/revelation"]
	path = config/awesome/revelation
	url = git@github.com:DrCracket/awesome-revelation.git
[submodule "config/awesome/net_widgets"]
	path = config/awesome/net_widgets
	url = git@github.com:DrCracket/net_widgets.git
