!! gruvbox colors for all xlib applications
! -----------------------------------------------------------------------------

*background: #282828
*foreground: #ebdbb2

! black + darkGrey
*color0:  #282828
*color8:  #928374
! darkRed + red
*color1:  #cc241d
*color9:  #fb4934
! darkGreen + green
*color2:  #98971a
*color10: #b8bb26
! darkYellow + yellow
*color3:  #d79921
*color11: #fabd2f
! darkBlue + blue
*color4:  #458588
*color12: #83a598
! darkMagenta + magenta
*color5:  #b16286
*color13: #d3869b
! darkCyan + cyan
*color6:  #689d6a
*color14: #8ec07c
! lightGrey + white
*color7:  #a89984
*color15: #ebdbb2
! additional colors
*color24:  #076678
*color66:  #458588
*color72:  #689d6a
*color88:  #9d0006
*color96:  #8f3f71
*color100: #79740e
*color106: #98971a
*color108: #8ec07c
*color109: #83a598
*color124: #cc241d
*color130: #af3a03
*color132: #b16286
*color136: #b57614
*color142: #b8bb26
*color166: #d65d0e
*color167: #fb4934
*color172: #d79921
*color175: #d3869b
*color208: #fe8019
*color214: #fabd2f
*color223: #ebdbb2
*color228: #f2e5bc
*color229: #fbf1c7
*color230: #f9f5d7
*color234: #1d2021
*color235: #282828
*color236: #32302f
*color237: #3c3836
*color239: #504945
*color241: #665c54
*color243: #7c6f64
*color244: #928374
*color245: #928374
*color246: #a89984
*color248: #bdae93
*color250: #d5c4a1

!! xft fonts
!-------------------------------------------------------------------------------

Xft.antialias:      true
Xft.embeddedbitmap: false
Xft.hinting:        true
Xft.hintstyle:      hintslight
Xft.lcdfilter:      lcddefault
Xft.rgba:           rgb
Xft.dpi:            96

!! xcursor theme
! -----------------------------------------------------------------------------

Xcursor.theme: Adwaita
Xcursor.size:  32

!! git askpass theme
! -----------------------------------------------------------------------------

git-gui--askpass*selectBackground: #32302f
git-gui--askpass*selectForeground: #f2e5bc

git-gui--askpass*activeBackground: #3c3836
git-gui--askpass*activeForeground: #fbf1c7

git-gui--askpass*insertBackground:    #504945
git-gui--askpass*highlightBackground: #665c54
git-gui--askpass*disabledForeground:  #d5c4a1

git-gui--askpass*selectColor:    #7c6f64
git-gui--askpass*highlightColor: #7c6f64
git-gui--askpass*troughColor:    #928374

!! xterm options
! -----------------------------------------------------------------------------

! general options
xterm*termName:     xterm-256color
xterm*bellIsUrgent: true
xterm*fullscreen:   never
xterm*buffered:     true

! font and cursor
xterm*faceName:     monospace
xterm*faceSize:     14
xterm*pointerShape: left_ptr

! scrolling behavior
xterm*savelines:       10000
xterm*scrollKey:       true
xterm*alternateScroll: true
xterm*scrollTtyOutput: false
xterm*multiScroll:     true

! text selection
xterm*highlightSelection: true
xterm*trimSelection:      true
xterm*cutNewLine:         false

! select urls on double click
xterm*charClass: 33:48,35:48,37-38:48,43:48,45-47:48,58:48,61:48,63-64:48,126:48

! custom keybindings
xterm*vt100.translations: #override \
  Ctrl Shift <Btn1Up>: exec-formatted("xdg-open '%t'", SELECT) select-end() \n\
  Ctrl Shift <Key>T:   spawn-new-terminal() \n\
  Ctrl Shift <Key>V:   insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:   copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus:    smaller-vt-font() \n\
  Ctrl <Key> plus:     larger-vt-font() \n\
  Ctrl <Key> 0:        set-vt-font(d)
